.ctaButton {
  width: 500px;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #006400;
}

.ctaInfos {
  width: 300px;
  border: 2px solid #f70909;
  border-radius: 15px;
  padding: 15px;
  background-color: white;
  color: #f70909;
  margin-top: 20px;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .ctaButton {
    width: 230px;
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 6px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
  }

  .ctaInfos {
    width: 150px;
    border: 2px solid #f70909;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    color: #f70909;
    margin-top: 15px;
    text-align: center;
  }
}
