.testimonial {
  background-color: var(--secondary);
  color: white;
  padding: 80px 0;
  text-align: center;
}

.container {
  padding: 0 20px;
}

.strong {
  font-weight: 700;
  color: #80daa6;
}

.emma {
  border-radius: 50%;
}
